/* stylelint-disable shorthand-property-no-redundant-values */
/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
@import url("https://fonts.googleapis.com/css2?family=Poppins:300,400,500,700&display=swap");

body {
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

.disable-default {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: 1px solid #6070ff;
  color: #6070ff;
  border-radius: 0.5rem;
  width: fit-content;
  background: white;
  animation-duration: 0.8s;
  font-size: 1.063rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0.5rem;
  display: block;
}

.btn:hover {
  background: #6070ff;
  box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
  color: #fff;
  cursor: pointer;
}

.btn:active {
  background: #2230d2;
  color: #fff;
}

.btn:disabled {
  color: #5e6c84;
}

.work-button {
  margin: 1rem 0 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 5;
}

.headline {
  color: #091e42;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.25rem;
  margin-bottom: 0;
}

.about {
  margin: 0 3rem;
}

.about-description {
  color: rgba(52, 69, 99, 1);
}

.hamburger img {
  color: #6070ff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction {
  margin: 6rem 0 3rem;
  z-index: 3;
}

.left-right-margin {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grey-container {
  background-color: #f4f5f7;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.grey-container::before {
  content: "";
  position: absolute;
  top: -6rem;
  left: 0;
  height: 10rem;
  width: 100%;
  background-color: #fff;
  border-bottom-left-radius: 6rem;
  box-shadow: 0 1.25rem 0 0 #f4f5f7;
  z-index: 1;
}

.links-container {
  display: none;
}

.description {
  line-height: 1.5rem;
  color: #344563;
  font-size: 1rem;
  font-weight: 400;
}

.subtitle {
  line-height: 1.5rem;
  color: #7f8cff;
  margin: 0;
  font-weight: 500;
}

.title img {
  width: 100%;
  border-radius: 0.5rem;
}

.social-links img {
  cursor: pointer;
  transition: transform 0.5s;
}

.social-links {
  display: inline-flex;
  width: 10rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.25rem;
}

.language-list-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(37, 56, 88, 1);
}

.language-list-item img {
  padding: 0.5rem;
}

.language-list-item li img {
  padding: 0.5rem;
}

.social-links img:hover {
  transform: scale(1.5);
}

.logo {
  width: 7rem;
  height: 1.25rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: #6070ff;
  line-height: 1.25rem;
  cursor: pointer;
}

.logo:hover,
.logo:active {
  color: #2230d2;
}

.work-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.75rem;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 1rem;
  margin: 3rem 1.5rem 3rem;
  justify-self: center;
}

.work-headline {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.75rem;
  margin: 0;
  color: #091e42;
}

.work-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  color: #344563;
  margin-top: 0;
  margin-bottom: 0;
}

.rotate-arrow {
  transform: rotate(-90deg);
}

.work-tags-div {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin: 0.5rem 0;
  height: 2.5rem;
}

.about-headline {
  font-size: 3rem;
  color: #172b4d;
  margin: 6rem 0 0 0;
}

.work-info {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start;
  max-height: 1.5rem;
  margin: 0.75rem 0;
}

.work-info > * {
  margin-right: 0.5rem;
}

.work-tags {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #6070ff;
  background-color: #ebebff;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.75rem;
}

.work-content {
  margin: 0 1rem;
}

.work-content > h1,
div,
p,
ul {
  padding: 0.3rem 0;
}

.languages {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.languages p {
  border: 1px 1px 0 0 solid;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}

.language-span {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #dfe1e6;
  cursor: pointer;
}

.language-span > p {
  color: rgba(52, 69, 99, 1);
}

.work-container {
  display: grid;
  margin: 7rem 0 3.5rem;
}

.top-right-curved {
  border-top-right-radius: 6rem;
  box-shadow: 6rem 0 0 0 #f4f5f7;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact h1 {
  font-weight: 700;
  font-size: 2.5rem;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
  margin-top: 6rem;
}

.contact p {
  font-weight: 400;
  font-size: 1.25rem;
  color: #ebebff;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: relative;
}

.contact-container::before {
  content: "";
  position: absolute;
  background-color: #6070ff;
  background-image: url("assets/contact-form-shapes-mobile.svg");
  background-size: contain;
  background-position: right;
  background-origin: content-box;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-top-left-radius: 6rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 100%;
  align-items: center;
}

.contact-form input,
textarea {
  background-color: #fff;
  border: 1px solid #cfd8dc;
  padding: 0.5rem 0 0.5rem 1rem;
  font-family: inherit;
  margin: 0.5rem 0;
  width: 100%;
  box-sizing: border-box;
}

textarea:focus,
input:focus {
  outline: none;
}

.contact-form button {
  margin-top: 0.75rem;
}

.work-info-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.work-img {
  width: 100%;
  border-radius: 1rem;
}

.work-info-sub {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
}

.contact-form > button:active {
  background: none;
  color: #fff;
}

.contact-form > button:hover {
  background: #fff;
  color: #6070ff;
  box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
  cursor: pointer;
}

.grey-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: #c1c7d0;
  position: relative;
}

.shapes::before {
  content: "";
  position: absolute;
  background-color: #fff;
  background-image: url("/assets/shapes.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-bottom-left-radius: 6rem;
}

.shapes {
  position: absolute;
  height: 100%;
  width: 100%;
}

.language-list-item li {
  background-color: #f7f7f9;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 6rem;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .logo {
    width: 12rem;
    height: 1.25rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: #6070ff;
    transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
  }

  .logo:hover {
    font-size: 1.75rem;
  }

  .links {
    width: 4.25rem;
    height: 1.25rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-left: 1rem;
    color: #344563;
    transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
  }

  .links:hover {
    color: #396df2;
    font-size: 1.5rem;
  }

  .links:focus {
    color: #396df2;
  }

  .headline {
    margin-top: 10.25rem;
    max-width: 57.5rem;
    font-size: 3rem;
  }

  .description {
    max-width: 57.5rem;
    line-height: 1.75rem;
    font-size: 1.25rem;
    text-align: justify;
  }

  .work-headline {
    font-size: 2.5rem;
  }

  .subtitle {
    line-height: 1.5rem;
    color: #7f8cff;
    margin: 0;
    font-weight: 500;
    font-size: medium;
  }

  .work-container {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 7rem;
  }

  .social-links {
    display: inline-flex;
    width: 10rem;
    justify-content: space-between;
  }

  .social-links img {
    cursor: pointer;
  }

  .work-info {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
  }

  .work-content > h1,
  div,
  p,
  ul {
    padding: 0.75rem 0;
  }

  .work-info p {
    font-size: 1.125rem;
    line-height: 1rem;
  }

  .introduction {
    margin: 3rem 6rem 3rem 12rem;
  }

  .links-container {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .work-card {
    flex-direction: row;
    width: 90%;
  }

  .work-description {
    font-size: 1.2rem;
  }

  .work-card-reversed {
    flex-direction: row-reverse;
  }

  .work-img {
    max-width: 50%;
    padding: 1rem;
    border-radius: 2rem;
  }

  .about {
    margin-bottom: 6rem;
    margin-left: 10%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about-myself {
    flex-direction: column;
    width: 45%;
    box-sizing: border-box;
    margin-right: 3rem;
  }

  .work-tags-div {
    width: 100%;
    justify-content: start;
  }

  .work-tags {
    font-size: 1rem;
    margin-right: 1rem;
  }

  .languages {
    width: 50%;
  }

  .language-list-item {
    display: flex;
    flex-direction: row;
  }

  .btn:hover {
    animation-name: btn-hover;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    cursor: pointer;
    background: inherit;
    box-shadow: none;
    color: #6070ff;
  }

  .btn-inverse:hover {
    animation-name: none;
    border: 1px solid white;
    cursor: pointer;
  }

  .btn:active {
    background: #2230d2;
    color: #fff;
  }

  @keyframes btn-hover {
    100% {
      box-shadow: inset 11rem 0 0 0 #6070ff, 0 8px 16px rgba(64, 83, 252, 0.24);
      color: #fff;
    }
  }

  .language-list-item li {
    flex-direction: column;
    width: fit-content;
    margin-right: 1rem;
    padding: 1rem;
  }

  .about-description {
    line-height: 1.75rem;
    font-size: 1.25rem;
  }

  .contact {
    width: 50%;
    place-self: center;
  }

  .contact p {
    width: 80%;
  }

  .contact-form {
    width: 75%;
  }

  .contact-container::before {
    border-top-left-radius: 12rem;
    background-image: url("assets/contact-form-background.svg");
    padding-top: 6rem;
  }

  .contact-form input,
  textarea {
    font-size: 1rem;
    border-radius: 0.125rem;
    padding: 0.75rem 0 0.75rem 1rem;
  }

  .shapes::before {
    background-image: url("assets/headline-background.svg");
    top: 10%;
    z-index: 1;
  }
}
